body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1.1em;
    line-height: 1.5;
}
.container{
    max-width: 900px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
h1{
    font-size: 2em;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #fff;
}
.pt-100{
    padding-top: 100px;
}
.hero{
    background-image: url("../images/hero.webp");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 450px;
    display: flex;
    align-items: center;
}
.hero::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.hero h1{
    margin-top: 0;
}
.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
    transition: .5s;
}
.btn:hover{
    background-color: #fff;
    color: #333;
}
.gray{
    background: #eaeaea;
}
.dark-gray{
    background: #333;
}
.blue{
    background: #2690d4;
}
.black{
    background-color: #000;
}
.section2 {
    padding: 30px 0;
}
.section2 h2{
    margin-top: 0;
}
.section2 p{
    columns: 2;
}
.column{
    background-color: #fff;
    width: 32%;
}
.w-100{
    width: 100%;
}
.section3{
    padding: 35px 0;
}
.section3 .container{
    display: flex;
    justify-content: space-between;
}
.section3 img{
    max-height: 215px;
    object-fit: cover;
}
.column-content{
    padding: 15px;
}
.section4{
    padding: 40px 0;
}
.section4 h2{
    margin-bottom: 40px;
}
.big-column{
    width: 50%;
    padding: 45px 30px;
}
.d-flex{
    display: flex;
}
footer{
    padding: 30px 20px
}
footer > div{
    width: 50%;
}
footer a{
    color: #2690d4;
    text-decoration: none;
}